/*
title font-family: "Montserrat", sans-serif;
primary font-family: Lato, sans-serif;
mobile-breakpoint: 600px and below
main content width: about 1000px
fluid navbar
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 1px black solid;*/
    font-family: 'Lato', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
}
.light-bg {
    background-color: #f6f6f6;
}
.medium-bg {
    background-color: #e9e9e9;
}
.dark-bg {
    background-color: #646565;
}
.color-bg {
    background-color: #dc5041;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: solid 4px #b24034;
    /*box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);*/
    /*position: relative;*/
    /*z-index: 1;*/
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
nav ul li a {
    display: flex;
    height: 2.5em;
    padding: 1em;
    font-size: 1.25em;
    color: black;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 400;
}
.hidden-on-desktop {
    color: white;
}
.main-logo {
    color: white;
    text-align: center;
    height: 40VH;
    padding: 3em 2em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.main-logo>h1 {
    font-size: 3em;
    /*font-weight: 300;*/
}
.main-logo>button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
    background-color: black;
    padding: .75em 1em;
    border: none;
}
.main-content-1, .main-content-2 {
    display: flex;
    flex-direction: column;
    padding: 1em;
}
section>h2 {
    font-size: 1.75em;
    margin: 1em 0;
}
section>p {
    margin: 1em 0;
    font-weight: 400;
}
section>div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.small {
    color: #787272;
    font-size: .75em;
}
.main-icon {
    color: #dc5041;
    padding: .5em 0;
}
.qotd {
    height: 20VH;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
footer {
    height: 25VH;
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
}
.footer-links {
    color: #646565;
    text-decoration: underline;
}
.hidden-on-mobile {
    display: none;
}
@media screen and (min-width:600px) {
    .hidden-on-mobile {
        display: flex;
        color: white;
    }
    .hidden-on-mobile:hover {
        color: black;
        background-color: white;
    }
    .hidden-on-desktop {
        display: none;
    }
    .main-content-1 h2, .main-content-1 p {
        width: 50%;
    }
    .main-content-1 i {
        display: inline;
    }
    .main-content-1 {
        flex-wrap: wrap;
    }
}